<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" [formGroup]="userForm" (ngSubmit)="onRegister()">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" formControlName="username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Password" formControlName="password">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <mat-label>Choissisez votre spot de surf</mat-label>
            <mat-select>
              <mat-option [value]="spot" *ngFor="let spot of spots">{{spot}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">Register</button>
  
      </form>
    </mat-card>
  </div>